* {
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ,Arial, sans-serif;
    color: navy;
    box-sizing:border-box;
}

#uniqueId {
    display: none;
}

.button {
    padding: 0px;
    text-align: center;
    z-index: 1;
    display: inline-block;
}
  
.button a, #submitProp {
    background-color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 3px;
    color: seashell;
    display: inline-block;
    margin: 10px 5px;
    padding: 14px;
    text-decoration: none;
}
  
.button a:hover, #submitProp:hover {
    background: seashell;
    border: 1px solid lightcoral;
    color: lightcoral;
}

header {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mission {
    width: 85%;
    background-color:transparent;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1;
    margin-top: 20px;
}

.mission h2, h4 {
    margin: 10px;
    opacity: 1.0;
    color: navy;
}

h1, h2 {
    text-transform: capitalize;
}

h4 {
    word-spacing: 4px;
}



#submitProp {
    font-size: medium;
    padding: 10px;
}

#submitProp{
    margin: 20px;
}

#addPropMenu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
  }

form {
    font-size: 16px;
    width: 70%;
    height: 60%;
    overflow: scroll;
    display: inline-flex;
    flex-flow: column;
    position: fixed;
    align-items: center;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 8px -4px #000000;
}

.formbox {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    opacity: 0.9;
    background-color:white;
    z-index: 1;
}

.opaque {
    opacity: 1;
}

footer {
    margin-top: 0px;
}

.contact {
    margin: auto;
    line-height: 2em;
}

.copyright {
    margin-left: 20px;
    text-align: left;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
}

@media only screen and (max-width: 900px) {
    .mission h2 {
        font-size: 30px;
    }

    .mission h4 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 615px) {

    .mission h2 {
        font-size: 22px;
    }

    .mission h4 {
        font-size: 14px;
    }

}

