.property span {
    font-size: 16px;
}
.propInfo span{
    padding: 0 12px;
}

.propTitle {
    margin: 10px 0;
    text-align: left;
    line-height: 24px;
}

.propTitle h4 {
    margin: 0;
}

button {
    font-size: medium;
    text-align: center;
    z-index: 1;
    display: inline-block;
}
  
button, .button a, #submitProp {
    background-color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 3px;
    color: seashell;
    display: inline-block;
    margin: 10px 5px;
    padding: 14px;
    text-decoration: none;
}
  
button:hover, .button a:hover, #submitProp:hover {
    background: seashell;
    border: 1px solid lightcoral;
    color: lightcoral;
}

