.property span {
    font-size: 16px;
}
.propInfo span{
    padding: 0 12px;
}

.propTitle {
    margin: 10px 0;
    text-align: left;
    line-height: 24px;
}

.propTitle h4 {
    margin: 0;
}

.property .button {
    position: relative;
    bottom: 0;
  }
  
.property .button a {
    font-size: medium;
    padding: 10px;
}

