#submitProp {
    font-size: medium;
    padding: 10px;
}

#submitProp{
    margin: 20px;
}

#applyMenu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

#addPropMenu.active {
    display: flex;
}

form {
    font-size: 16px;
    width: 70%;
    height: 60%;
    overflow: scroll;
    display: inline-flex;
    flex-flow: column;
    position: fixed;
    align-items: center;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 8px -4px #000000;
}

.formbox {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    opacity: 0.9;
    background-color:white;
    z-index: 1;
}