nav {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid white;
    position: fixed;
    z-index: 3;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 16px;
    color: navy;
    font-weight: bold;
    text-decoration: none;
}

#hamburger {
    height: 50%;
    width: auto;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
